* { box-sizing: border-box; }
body {
    display: flex; align-items: center; justify-content: center;
    background: #f2f2f2; color: #333; text-align: center;
    font: 18px/22px Roboto, "Helvetica Neue", Helvetica, sans-serif; }
#main { width: 400px; }

h1, h2, h3 { font-weight: 300; }
h1 {
    width: 150px; height: 150px; border-radius: 75px;
    background: #515CA0; margin: 0 auto 40px
}

.help { color: #515CA0; margin: 0 auto 40px; max-width: 70%; }
.note { background: #F0EED5; padding: 20px 30px; margin: 20px auto; max-width: 90%; }
.todo { display: none; }
.error { color: #a05c55; }

input, button, select {
    font: inherit; display: block; width: 100%;
    padding: 15px 20px; margin: 0 0 10px;
}
option { font: inherit; }
input, button {
    border: none; outline: none; text-align: center;
    border-radius: 3px;
}
input { background: #e9e9e9; font-weight: 300; }
button { background: #515CA0; color: #fff; }

